<!--Template for showing single post-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Show Post')"></div>

</head>
<body>
<nav th:replace="partials :: navbar" />
<header th:replace="partials :: header" />

<!--Single Post Card-->
<div class="container">
    <div th:replace="partials :: showSinglePost" />
</div>

<div th:replace="partials :: scripts" />
</body>
</html>