<!--Template for login form-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Login')"></div>

</head>
<body>
<nav th:replace="partials :: navbar" />
<header th:replace="partials :: header" />

<div class="container pt-5 my-5">
    <div class="row g-5">
        <div class="col-12 col-lg-5">
            <div class="container bg-dark rounded-3 p-5">
                <h1 class="text-center text-light">Login</h1>
                <!--    Div that shows user they entered invalid parameters if it receives and error-->
                <div th:if="${param.error}" class="text-light">
                    Invalid Username and Password.
                </div>
                <!--    Div that shows message that a user has been logged out-->
                <div th:if="${param.logout}" class="text-light">
                    You have been logged out.
                </div>

                <div th:replace="partials :: loginForm" />
                <p id="notAUserToggle" class="text-light mt-5" style="cursor: pointer;">
                    Not a user? Click here to signup
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div id="signupContainer" class="container bg-dark rounded-3 p-5" style="display: none;">
                <h1 class="text-center text-light">Signup</h1>

                <div th:replace="partials :: signupForm" />
            </div>
        </div>
    </div>
</div>

<div th:replace="partials :: scripts" />
</body>
</html>