<!--Template showing user profile-->
<!--At the moment it just shows a list of posts created by the user-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Profile')"></div>

</head>
<body>
<nav th:replace="partials :: navbar" />
<header th:replace="partials :: header" />

<h1>My Posts</h1>

<div th:replace="partials :: postIndex" />

<div th:replace="partials :: scripts" />
</body>
</html>