<!--Template for signup form-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Sign Up')"></div>

</head>
<body>
<nav th:replace="partials :: navbar" />
<header th:replace="partials :: header" />

<h1 class="text-center pt-5 my-5 outlined">Sign Up</h1>

<div class="container bg-dark rounded-3 p-5">
    <div th:replace="partials :: signupForm" />
</div>

<div th:replace="partials :: scripts" />
<script th:src="@{/js/signup-form.js}"></script>
</body>
</html>