<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials :: metaTags" />
    <title>Dice Guess Results</title>
    <div th:replace="partials :: links" />
</head>
<body>
    <nav th:replace="partials :: navbar" />
    <header th:replace="partials :: header" />

    <h1>You guessed: <span th:text="${guess}">[guess]</span></h1>
    <h1>The dice rolls: <span th:text="${diceRolls.toString()}">[roll]</span></h1>
    <h1>Your guess was correct <span th:text="${correctGuesses}"></span> times!</h1>
    <h3><a href="/roll-dice">Try Again</a></h3>


    <div th:replace="partials :: scripts" />
</body>
</html>