<!--Template containing all partials-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!-- Head Fragment -->
<div th:fragment="headFragment(title)" th:remove="tag">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="_csrf" data-th-content="${_csrf.token}" />
    <title th:text="${title}"></title>
    <link rel="shortcut icon" type="images/png" th:href="@{/megamanicon.png}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/background.css}">
</div>

</head>
<body>

<!--Navbar Fragment-->
<nav th:fragment="navbar" id="main-navbar" class="navbar navbar-expand-md w-100 navbar-dark bg-dark mb-4">
        <a class="navbar-brand ps-3" th:href="@{/}">Pfirewire's Movies</a>

        <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav">
            <span id="collapse-btn">
                <i class="bi bi-list"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-nav">
            <div class="d-flex justify-content-between">
                <span sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/posts}" class="nav-link" >All Posts</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/posts/create}" class="nav-link">Create A Post</a>
                        </li>
                        <li class="nav-item text-muted">
                            <a th:href="@{/profile}" class="nav-link">Profile</a>
                        </li>
                        <li>
                            <form id="site-bar-logout-form" th:action="@{/logout}" th:method="post">
                                <a id="site-bar-logout-link" role="button" class="nav-link" href="#">Logout</a>
                            </form>
                        </li>
                    </ul>
                </span>
                <span sec:authorize="isAnonymous()">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/posts}">All Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/signup}">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </span>
            </div>

        </div>

</nav>

<!--Header Fragment-->
<header th:fragment="header" class="container">
        <hr>
    </header>

<!--Login Form Fragment-->
<form th:fragment="loginForm" class="text-light" th:action="@{/login}" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" autocomplete="off">
    </div>
    <button id="loginPasswordSubmit" type="submit" class="btn btn-primary">Login</button>
</form>

<!--Signup Form Fragment-->
<form th:fragment="signupForm" class="text-light" th:action="@{/signup}" method="POST" th:object="${user}">
    <div class="mb-3">
        <label for="signupEmailAddress" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="signupEmailAddress" th:field="*{email}" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="signupUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="signupUsername" th:field="*{username}" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="signupPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="signupPassword" th:field="*{password}" autocomplete="off">
        <div id="signupPasswordHelpLength" class="form-text">Must be at least 8 characters long</div>
        <div id="signupPasswordHelpUppercaseLetter" class="form-text">Must contain at least 1 uppercase letter</div>
        <div id="signupPasswordHelpLowercaseLetter" class="form-text">Must contain at least 1 lowercase letter</div>
        <div id="signupPasswordHelpNumber" class="form-text">Must contain at least 1 number</div>
        <div id="signupPasswordHelpSpecialCharacters" class="form-text">Must contain at least 1 special character: !@#$%^&*()-=_+</div>
    </div>
    <div class="mb-3">
        <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="signupConfirmPassword">
        <div id="passwordsMustMatch" class="form-text d-none" style="color: #F00;">Passwords must match</div>
    </div>
    <button id="signupPasswordSubmit" type="submit" class="btn btn-primary" disabled>Signup</button>
</form>

<!--Show Single Post Fragment-->
<div class="card mb-3" style="background-color: #6e6e6e"  th:fragment="showSinglePost">
    <div class="card-body">
        <h2 class="text-center bg-dark text-light rounded p-3">
            <a th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.title}"></a>
        </h2>
        <p style="white-space: pre-line" th:text="${post.body}" class="card-text bg-dark text-light rounded p-3"></p>
        <a th:href="@{/users/{id} (id=${post.user.id})}" class="card-link" th:text="${post.user.username}"></a>
        <!--                Checking to see if user is authenticated, and if so if user id matches post's user id-->
        <span sec:authorize="isAuthenticated()">
            <span th:if="${post.getUserId() == #authentication.principal.id}">
                <a th:href="@{/posts/{id}/edit (id=${post.id})}">Edit Post</a>
            </span>
        </span>
        <!--                Checking to see if user is authenticated, and if so if user id matches post's user id-->
        <span sec:authorize="isAuthenticated()">
            <span th:if="${post.getUserId() == #authentication.principal.id}">
                <a th:href="@{/posts/{id}/delete (id=${post.id})}">Delete Post</a>
            </span>
        </span>
        <div style="height: 50px; width: 50px;">
            <img th:src="@{${'/' + post.filename}}" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>
</div>

<!--Post Form Fragment-->
<div class="form-group" th:fragment="postForm">
    <input class="form-control mb-3 bg-dark text-light" id="postTitle" th:field="*{title}" type="text">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
    <textarea class="form-control mb-3 bg-dark text-light" th:field="*{body}" rows="12" placeholder="Enter the body of your post here" ></textarea>
    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
    <button type="submit" class="btn btn-dark">Submit</button>
</div>

<!--Post Index Fragment-->
<div class="container" th:fragment="postIndex">
    <div class="row row-cols-md-2" data-masonry='{"percentPosition": true }'>
<!--    Calling each post in posts and making their own cards, in 2 columns-->
        <div th:each="post : ${posts}" class="col">
            <div th:replace="partials :: showSinglePost" />
        </div>
    </div>
</div>

<!--Scripts Fragment-->
<div th:fragment="scripts" th:remove="tag">
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Masonry Test CDN-->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script th:src="@{/js/sitebar.js}"></script>
</div>
</body>
</html>